
POSTGRES_USER=your_postgres_user
POSTGRES_PASSWORD=your_postgres_password
POSTGRES_DB=your_database_name
POSTGRES_PORT=5431


DATABASE_URL=jdbc:postgresql://db:5432/your_database_name
DATABASE_USER=your_database_user
DATABASE_PASSWORD=your_database_password

JWT_SECRET=your_jwt_secret

CORS_ALLOWED_ORIGINS=https://your-domain.com


MINIO_ROOT_USER=your_minio_root_user
MINIO_ROOT_PASSWORD=your_minio_root_password

MINIO_ENDPOINT=http://minio:9000
MINIO_ACCESS_KEY=your_minio_access_key
MINIO_SECRET_KEY=your_minio_secret_key
MINIO_BUCKET=userdocuments


MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=your_email@example.com
MAIL_PASSWORD=your_app_password
MAIL_FROM=your_email@example.com


BACKEND_PORT=9090
FRONTEND_PORT=4200
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001


STRIPE_KEY=your_stripe_secret_key


FRONTEND_URL=https://your-domain.com